

/* 動物之星 */
.star {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    /* border: 1px solid chocolate; */
}
div.star_list{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 900px;
    height: 200px;
    border: 1px solid red;
}

.star_list img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    transition: transform 400ms ease-out;
}

.star_list img:hover {
	transform: scale(1.15);
}



.bear ,.hippo,.orangutan,.raccoon,.tiger{
    display: inline-grid;
}

.star h2{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #0FA36C;
    border: 1px orangered solid;
    height: 10px;
}

.star h2 img{
    width: 27px;
    margin-left: 5px;
    margin-right: 5px;
}

#section .star{
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    /* flex-direction:row* 由左至右*/
}



/* 動物園現況 */

.situation{
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px seagreen solid;
}

.situation img{
    width: 27px;
    margin-right: 8px;
    margin-left: 5px;
}
h5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:15px ;
    font-size: 1.4rem;
    letter-spacing:.2rem;
   
}

.under{
    width: 400px;
    height: 300px;
}

/* 兩個方框 */


.introduction{
    border: 1px solid red;
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.text{
   display: flex;
   margin-left:5 px ;
   flex-direction: column;
}

.text img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
    
}
.top_photo {
    width: 380px;
    height: 370px;
    border-radius: 15px 0px 0px 15px;
    margin-left: -162px;
    background-size: contain; /*照片其中是一百趴*/
}

/* 動物簡介*/

.box{
    width: 872px;
    margin: 0 auto;
    border: 1px solid red;
    display: grid;
    gap:30px 30px;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    grid-template-areas: 
    "a1 a1 . . ."
    "a1 a1 . a6 a6"
    ". . . a6 a6"
    "a10 a10 . . ."
    "a10 a10 . . ."
    ;
}

div.box div.grid-item1{
    grid-area: a1;
    position:relative;
}

div.box div.grid-item6{
    grid-area: a6;
}

div.box div.grid-item10{
    grid-area: a10;
}
/* hover效果 */

.grid-item:hover img{
    box-shadow:0px 0px 10px rgb(0 0 0 / 20%);
}

.grid-item:hover .mask{
    opacity: 1;
}

.grid-item:hover h2{
    opacity: 1;
}

.grid-item:hover .mask_2{
    opacity: 1;
}

/* h3 */

.grid-item:hover h3{
    opacity: 1;
}

.grid-item:hover .mask_3{
    opacity: 1;
}


/* 天竺鼠 */

.mask{
    width: 330px;
    height: 330px;
    background-color:#18171787;
    position: absolute;
    top:0;
    left: 0;
    transition:1s;
    cursor:pointer;
    opacity: 0;
}

.mask_3 h2{
    transition:.3s;
    position: absolute;
    margin: 0;
    color: white;
    left: 36%;
    bottom: 45%;
    opacity: 0;
}



.mask h2 {
    transition:.3s;
    position: absolute;
    margin: 0;
    color: white;
    left: 40%;
    bottom: 45%;
    opacity: 0;
}

/* 馬來猴 */

.mask_2{
    width: 152px;
    height: 152px;
    transition:.3s;
    background-color:#18171787;
    position: relative;
    cursor:pointer;
    opacity: 0;
    top:-104%;
    
}

.mask_2 h2 {
    transition:.3s;
    font-size: 1.2rem;
    position: absolute;
    margin: 0;
    color: white;
    left: 24%;
    bottom: 45%;
    opacity: 0;
}

/* 山羌 */

.mask_3 {
    width: 330px;
    height: 330px;
    background-color:#18171787;
    position: relative;
    cursor:pointer;
    opacity: 0;
    top:-101%;
   
}

.mask_2 h3 {
    transition:.3s;
    font-size: 1.2rem;
    position: relative;
    margin: 0;
    color: white;
    left: 16%;
    bottom: 45%;
    opacity: 0;
    top:42%;
}

.mask_2{
    width: 152px;
    height: 152px;
    transition: .3s;
    background-color: #18171787;
    opacity: 0;
    /* top: -91%; */
}

/* 頁尾 */
.footer{
    display: flex;
    align-items: flex-end;
}
 /* 底紋插圖  */
 
 .at{
    /* border: 1px solid red; */
    display: flex;
    width: 286px;
    margin: 0 auto;
    margin-right: 180px;
    margin-top: -168px;

}
 .illustration{
    /* border: 1px solid blue; */
    height: 200px;
    width: 100%;
    display: flex;
    margin-top: -40px;
    position: relative;
 }

.a img {
    width: 250px;
    height: 200px;
    margin-left: -160px;
    position: relative;
    top:-90px;
}

.illustration .b {
    background-image: url(../images/decoration/artboard\ –\ 32.svg);
    width: 206px;
    margin-top: -32px;
    margin-left: 628px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.illustration .c {
    background-image: url(../images/decoration/artboard\ –\ 30.svg);
    width: 430px;
    background-size: cover;
    background-repeat: no-repeat;
}


.d img{
    width: 400px;
    height: 200px;
    margin-left: -584px;
}


h3{
    font-size: 1.2rm;
    margin: 0 auto;
    margin-top: 10px;
}

.star_list h3{
    color: #3DBFAC;
}



.grass4{
    transform:rotate(40deg) ;
}
.grass4-1{
    transform:rotate(352deg) ;
}

/* 版頭換色文字效果 */

.nav li .animals_btn >p{
    color:#FF9B2F;
    /* border-bottom: 3px solid #FF9B2F; */
}

.nav li .animals_btn  {
    color:#FF9B2F;
}

/* 右邊浮動 */

div.right_sidebar {
    width: 100%;
 } 

div.right_sidebar .float{  
    z-index: 5;
    width:90px;
    float: right;
    position: fixed;
    right: 0px;/*右邊*/
    top:106px;
}
/* header */
@media all and (min-width: 992px ) and (max-width: 3000px){
    div.header{
        width: 500px;
        height: 30px;
        background-color: darkgrey;
    }
    .header nav > .icon{
        display: none;
    }

    body{
        min-width: 960px;
    }
    .header_md{
        display: none;
    }
    .header_md img{
        display: none;
    }

    .main_nav{
        display: none;
    }

    .header_md{
        display: none;
    }

}



@media all and (min-width: 768px) and (max-width: 991px){

    body{
        min-width: 720px;
        /* border: orange 1px solid; */
    }
    div.icon{
        display: none;
    }
    .header_md{
        display: none;
    }
    .header_md img{
        display: none;
    }
    .star{
        height: 260px;
    } 
    div.star_list img{
        width: 130px;
        height: 130px;
    }

    div.star_list {
        width: 700px;
        height: 300px;
    }

    .box{
        display: none;
    }
    .box {
        width: 700px;
        margin: 0 auto;
        border: 1px solid red;
        display: grid;
        grid-template-columns: 150px 150px 150px 150px ;
        grid-template-areas:
            "a1 a1 . . "
            "a1 a1 . . "
            ". .  a6 a6 "
            ". .  a6 a6 "
            "a10 a10 . . "
            "a10 a10 . . "
            ;
            
    }

    div.box div.grid-item1{
        grid-area: a1;
        position:relative;
    }
    
    div.box div.grid-item6{
        grid-area: a6;
    }
    
    div.box div.grid-item10{
        grid-area: a10;
    }

    .mask_3{
        top: -101%;
    }
   
    .grid-item18 .mask_2{
       display: none;
    }

    .grid-item17 .mask_2{
        display: none;
     }

     .grid-item16 .mask_2{  
        display: none;
     }

     /*.mask_2*/
     .at{
         margin-right: 0;
         margin-top: 3px;
     }

     .illustration {
         margin-top: -183px;
     }
     
     .illustration .b{
         display: none;
     }


}

@media all and (min-width: 500px) and (max-width: 767px){
    
    body{
        min-width: 500px;
        /* border: blue 2px solid; */
    }

    button.hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    header{
        display: none;
    }

    div.right_sidebar .float{  
       display: none;
    }

    .footer_logo{
        margin-left:9%;
        margin-top: 3%;
    }
    ul.right{
        list-style: none;
        font-weight: bold;
        padding: 10px;
        margin-left:160px;
        margin-top: -119px;
    }

    .footer_logo {
        width: 105px;
    }
    .star{
        height: 260px;
    } 
    div.star_list img{
        width: 130px;
        height: 130px;
    }
   
    div.star_list{
        width: 600px;
        height: 148px;
    }

    div.star_list img{
        width: 100px;
        height: 100px;
    }

    .box img{
        width: 130px;
        height: 130px;
    }
    .box{
        display: none;
    }
    .box {
        width: 611px;
        margin: 0 auto;
        border: 1px solid red;
        display: grid;
        gap: 10px 20px;
        grid-template-columns: 120px 150px 120px 120px;
        grid-template-areas:
        "a1 a1 . . "
        "a1 a1 . . "
        ". .  a6 a6 "
        ". .  a6 a6 "
        "a10 a10 . . "
        "a10 a10 . . "
            ;
    }

    .grid-item18 .mask_2{
        display: none;
     }
 
     .grid-item17 .mask_2{
         display: none;
      }
 
      .grid-item16 .mask_2{  
         display: none;
      }
 

    div.box div.grid-item1{
        grid-area: a1;
        position:relative;
    }
    
    div.box div.grid-item6{
        grid-area: a6;
    }
    
    div.box div.grid-item10{
        grid-area: a10;
    }

    .div .grid-item .grid-item1{
        width: 150px;
        height: 150px;
    }

    
      /*.mask_2*/
      .grid-item1{
        width: 150px;
        height: 150px;
      }

      .mask_3 {
        width: 300px;
        height: 300px;
        top:-98%;
      }

      .grid-item10 img{
        width: 300px;
        height: 300px;
      }


      .grid-item6 img{
        width: 300px;
        height: 300px;
      }

      .mask {
        width: 300px;
        height: 300px;
        /* top: ; */
      }

      .grid-item1 img{
        width: 300px;
        height: 300px;
      }

      .mask_2{
        width: 130px;
        height: 130px;
        top: -90%;
      }
      .at{
        display: none;
        }

}

    h3 {
        letter-spacing: .1rem;
        font-size: 1.1rem;
    }

@media all and (max-width:575px) {
    .box{
        display: none;
    }
    .box {
        height: 800px;
        width: 410px;
        margin: 0 auto;
        border: 1px solid red;
        display: grid;
        gap: 1px 20px;
        grid-template-columns: 120px 120px 120px ;
        grid-template-areas:
            ". . . "
            ". . . "
            ". . . "
            ". . . "
            ". . . "
            ". . . "
            ". . . "
            ". . . "
            ;
    }

   
    div.hippo{
        display: none;
    }
    
    div.orangutan{
        display: none;
    }

    div.box div.grid-item1{
        display: none;
    }
    
    div.box div.grid-item6{
        display: none;
    }
    
    div.box div.grid-item10{
        display: none;
    }

    .div .grid-item .grid-item1{
        width: 150px;
        height: 150px;
    }

    div.star_list{
        width: 400px;
        height: 148px;
    }
}