main{
    max-width: 1000px;
    margin: 0 auto;
    
}



/* 主內容 */

article.card{
    /* border: 1px  solid #d64a03; */
    width: 78%;
    height: 450px;
    /* height: 60%; */
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    margin-top:20px;
}

div.banner{
    font-size: 0;
    margin: 0 auto;
    height: 100%;
}

article.card div.banner > img{
    max-width: 110%;
    box-sizing: right 80px bottom 80px;
    position:absolute;
    top:-100px;
    margin: -26px 0px;
}
/* 圓形圈圈 */

.round {
    width: 100%;
    margin:  0 auto;
    /* border:1px solid royalblue; */
    display: flex;
    margin-top: -120px;
    align-items: flex-start;
}


.round img{
    /* border:1px solid violet; */
    width: 16%;
    margin-left: 72px;
    z-index: 1;
}


/* 背景插圖 */

div.place_img2 {
    width: 60px;
    /* border: 1px solid red; */
    height: 200px;
    background-image:url( "../images/decoration/artboard\ –\ 3-01.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 1225px;
}
img{ 
    width: 100%;
    
} 

.news h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

.news h2 img {
    width: 27px;
    margin-left: 5px;
    margin-right: 5px;
}

.news .wrap{
    display: flex;
    /* width: 1000px; */
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: center;
    height:330px;
}

.news .item{
    margin: 0 10px;
    box-shadow:2px 2px 5px #999;
    border-radius:0 0 25px 25px;
    background-color:rgb(255, 251, 246);
}


.news .item h3:hover {
    color: #9ECE0C;
  }
.news img{
    width: 320px;
}

.item h3{
    border-bottom:solid 2px #eccb0f;
    margin:4% auto;
    border-bottom-width:2px;
    width: 90%;
    font-size:1rem;
    margin-top: -5px;
}

.item > p{
    width: 90%;
    margin-left: 17px;
    display: initial;
}

div.color{
        width: 280px;
        height: 250px;
        background-color:#d6ff4157;
        position: absolute;
        transition: box-shadow 1s;
        cursor:pointer;
        opacity:0;
        }
.color:hover{
    opacity: 1;
}
.item{
    position: relative;
    overflow: hidden; 
}


/* 按鈕 */

.butten{ 
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    opacity: 1;
    background-color: #3DBFAC;
    transition: all .3s 0s ease;
  }
  
  .butten:hover{
    background-color: #0b6d5e;
   
  }
  
  .butten {
     margin: 0  auto;
     margin-top: 20px;
  }
  
  .butten  a{
      font-size: 0.9rem;
      color: #fff;
      text-decoration:none;
  }
  
  /* 動物之星 */
  .star h3 {
      margin-left: 20px;
  }
  div.star_list{
      /* border-bottom: solid 2px #eccb0f; */
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
     
      
  }
  
  .star_list img{
      display: inline-block;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
      transition: transform 400ms ease-out;
  }
  
  .star_list img:hover {
      transform: scale(1.15);
  }
  
  
  
  .star h2{
      margin-top: 6%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* position: relative; */
      font-size: 1.4rem;
  }
  
  .star h2 img{
      width: 27px;
      margin-left: 5px;
      margin-right: 5px;
  }
  
  
  
  .star h3{
      font-size: 1.2rm;
      color: #3DBFAC;
  }
  
  .hover{
      display:none;
  }
/* 遊園叮嚀 */

.outer_block{
    line-height: 45px;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}
.remind{
    padding: 30px;
    width: 100%;
    background-color: #EAECF2;
}
.remind > ul {
    display: flex;
    justify-content:center;
    height: 15px;
}
/* .remind_hr{
    vertical-align:middle ;
} */
.zoo_img{ 
    width: 300px;
    height: 30px;
}
.outer_block{
    justify-content: space-between;
    align-items: center;
    height: 210px;
    margin-left: 0px;
}
.outer_block img{
    width:300px;
    height:300px
}
.note {
    list-style:none
  } 

.item p{
    line-height: 287%;
    display:inline-block;
    margin-left:19px;
  }

.remind {
    width: 100%;
    background-color:#EAECF2 ;
    margin-top: 4%;
}

/* 景點介紹*/ 
.text h2 img{
    width: 32px;
    height: 38px;
    /* border: 1px  solid #d64a03; */
    margin: -10px 0px;
    margin-right:5px;
}

.text{
    /* border: 1px  solid #d64a03; */
    top:20px;
}
.attractions{
    
    /* justify-content: center; */
    padding: 15px;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    /* border: 1px  solid #d64a03; */
    align-items: flex-start;
}

.radius_list img{
    width: 400px;
    height: 300px;
    border-radius: 30px  90px 30px 30px;
    
}
.attractions .text {
  margin: 10px;
  display: flex;
  justify-content: end;
  font-size: 2rem;
}

div.mask{
    width: 400px;
    height: 300px;
    background-color:#18171787;
    position: absolute;
    transition: box-shadow 1s;
    cursor:pointer;
    opacity:0;
    border-radius: 30px  90px 30px 30px;
    }

.mask:hover{
    opacity: 1;
}


.flex{
    /* background-color: #f08bc3; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    margin-top: 30px;
}
.radius_list{
    display: flex;
    width: 400px;
    height: 300px;
    border-radius: 30px  90px 30px 30px;
    box-shadow: -10px -6px 0px #3DBFAC ;
}

.mask h2 {
    transition:.3s;
    position: absolute;
    margin: 0;
    color: white;
    left: 34%;
    bottom: 45%;
    letter-spacing: .1rem;
    opacity: 1;
}

.mask h2:hover{
    color: rgb(255, 238, 0);
}

/* 圖片輪播 */
.carousel_text {
    display: flex;
    margin: 0 auto;
}
.carousel > img{
    width: 240px;
    margin-right: 900px;
    margin-top: 15px;  
}

.marquee {
    height: 120px;
    width: 1200px;
    overflow: hidden;
    position: relative;
    float:left;
    padding: 14px;
  }
  
.marquee img{
    height: 120px;
    width: 120px;
    padding: 5px;
}
.marquee div {
    display: block;
    width: 1200px;
    height: 130px;
    position: absolute;
    
    animation: marquee 14s linear infinite;
  }
  
  .marquee span {
    float: left;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }
/* 右邊浮動 */

div.right_sidebar {
    width: 100%;
 } 

div.right_sidebar .float{  
    z-index: 5;
    width:90px;
    float: right;
    position: fixed;
    right: 0px;/*右邊*/
    top:106px;
}

/* 圖輪播套件  */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-pagination-bullet {
    /* width: 16px; */
    height: 8px;
    display: inline-block;
}


    /* 圖輪播套件結束  */

/* footer */


ul.right{
    list-style: none;
    font-weight: bold;
    padding: 10px;
   
}
footer{
    font-size: 0.5rem;
    color: #707780;
    height: 160px;
    background-color: #EAECF2;
    width: 100%;
    /* border: 1px solid chartreuse; */
    letter-spacing:2px;
    line-height: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    

}

div.prompt{
    /* border:1px solid orangered; */
    font-size: 0.3rem;
    width: 390px;
    height: 12px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
.footer_logo{
    width: 120px;
}

.note p{
    line-height: 195%;
}

/* 動物之星輪播圖 */
.owl-dots {
    display: none;
  }

  .owl-carousel {
    max-width: 800px;
    margin: 0 auto;
  }

  .owl-dots {
    display: none !important;
  }

  .owl-carousel .owl-item img {
    width: 80% !important;

  }

  .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #3DBFAC !important;
  }

  .owl-carousel .owl-stage{
    margin-top: 20px;
  }
  .owl-carousel .owl-stage-outer{
    margin-left: 12px;
  }

