/* 搜尋欄 */

.search{
    display: flex;
    height: 30px;
    /* border: 1px solid red; */
    flex-direction: row;
    width:400px ;
    /* justify-content: center; */
    /* margin: 0 auto; */
    margin-left: 180px;
    margin-top: 20px;
}
.country{
    width: 150px;
    margin-left: 10px;
}
.country_1{
    width: 150px;
}

.country_1,.country{
    align-items: center;
    justify-content: center;
    /* width: 200px; */
    height: 30px;
    /* appearance: none; */
    outline: none;
    border: 1.5px solid#3DBFAC;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
    /* 無反應 */
    background-image: url("../images/news/chevron.svg");
}

button {
    position: relative; 
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 30px;
    width: 160px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(95, 108, 131, 0.6);
   
  }
.number.pagination {
    height: 30px;
    width: 30px;
    border:1px solid brown;


}

/* 返回icon */
.back_1{
    /* border:1px solid red; */
    /* height: 30px; */
    width: 990px;
    height: 48px;
    margin: 0 auto;
    list-style: none;
}

.back img{
    width: 38px;
}


/* 內文 */
.main_content{
    /* border: 1px solid red; */
  
    display: grid;
    width: 1000px;
    margin: 0 auto;
}
.day{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 30px;
    width: 200px;
}
.title{
    /* border: 1px solid red; */
    margin-top: 15px;
}
.grid_ite{
    width: 176px;
    /* border: 1px solid blue; */
    display: flex;
    padding: 12px 22px 3px 0px;
    
}

.grid_ite h4{
    margin-top: -4px;
    margin-left: 5px;
    
}
/* banner */

.news_banner{
    /* display: flex; */
    height: 400px;
    /* width: 1000px; */
    /* border:1px solid chartreuse; */
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;    
}

.news_banner img{
    border-radius: 50px;
    /* width: 1000px; */
    margin: -90px 0px;
    
}

/* 內文 */
.title{
    line-height: 30px;
}
.page{
    display: flex;
    height: 750px;
    padding: 15px;
    background-color: cadetblue;
    flex-wrap: wrap;
    
}
.main > p{
    text-indent:25px;
}
.img_news{
     /* border: 1px solid red; */
     /* width: 1000px; */
     height:300px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 500px auto;
     gap: 20px;
     margin-top: 25px;
     border-radius: 15px 15px 15px 15px;

}
.img,.img_02{
    width: 100%;
    /* border: 1px solid rgb(66, 37, 230); */
    height: 300px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}

/* 版頭換色文字效果 */

div.header ul li .new_btn >p{
    color:#FF9B2F;
    border-bottom: 3px solid #FF9B2F;
}

div.header ul li .new_btn {
    color:#FF9B2F;
}
