


/* 搜尋欄 */

.search{
    display: flex;
    height: 30px;
    /* border: 1px solid red; */
    flex-direction: row;
    width:400px ;
    /* justify-content: center; */
    /* margin: 0 auto; */
    margin-left: 180px;
    margin-top: 20px;
}

.country{
    width: 150px;
    margin-left: 10px;
}
.country_1{
    width: 150px;
}
.country_1,.country{
    align-items: center;
    justify-content: center;
    /* width: 200px; */
    height: 30px;
    /* appearance: none; */
    outline: none;
    border: 1.5px solid#3DBFAC;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
    /* 無反應 */
    background-image: url("../images/news/chevron.svg");
}

button {
    position: relative; 
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 30px;
    width: 160px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(95, 108, 131, 0.6);
   
  }

/* banner */

.news_banner{
    /* display: flex; */
    height: 320px;
    width: 1000px;
    /* border:1px solid chartreuse; */
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;
    
}

.news_banner img{
    border-radius: 50px;
    width: 1000px;
    margin: -25px 0px;
    
}
/* 新聞1 */
div.grid_container{
    background-color: #eaecf2;
    /* border: 1px solid red; */
    width: 1000px;
    height:350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 600px auto;
    gap: 0px;
    margin-top: 25px;
    border-radius: 15px 15px 15px 15px;
  }
div.grid_item1{
    /* border: 1px solid blue; */
    width: 350px;
    height: 120px;
    border-radius: 15px 15px 15px 15px;
  }
.news_photo {
    width: 520px;
    height: 350px;
    border-radius: 15px 0px 0px 15px;
}
.grid_item2{
    height: 150px;
    margin: auto;
    margin-left: -20px;
    letter-spacing: 2px;
    line-height: 35px;
}

div.grid_item2 h4{
    height: 34px;
    font-size: 16px;
    display: inline-block;
    border:1.5px solid #FF9B2F;
    background-color: rgb(255, 255, 255);
    color: #FF9B2f;
    border-radius: 3px;
    padding: 1px 8px;
    border-radius: 5px;
    line-height: 32px;
    }

/* 新聞2 */

.page{
    display: flex;
    height: 700px;
    padding: 15px;
    /* background-color: cadetblue; */
    flex-wrap: wrap;
   
}
div.list{
    width: 1200px;
    height: 320px;
    flex: 0 0 20%;
    margin: 0 auto;
    display: flex;
    border-radius: 0 0 25px 25px;
    box-sizing: border-box;
    justify-content: space-between;
}
.list div{
    justify-content: space-between;
    width: 300px;
    height: 320px;
    /* border: 2px solid #d64a03; */
    box-sizing: border-box;
    background-color: rgb(255, 251, 246);
    margin: 20px;
}
.list div p{
    width: 90%;
    margin: 3% auto;
}


.page figcaption{
    width: 90%;
    margin: 4% auto;
    text-align: left;
    border-bottom: solid 2px #eccb0f;
    font-size: 1rem;
}
.butten{
    margin: 10px 0px;

}
.all{
    display: flex;
}
.butten {
  position: relative; 
  outline: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 30px;
  opacity: 1;
  background-color:#ffffff;
  border: 1px solid #707070;
} 

.butten a{
    font-size: 1.2rem;
    color: #707070;
    font-size: x-large;
    
}

.more{
    display: flex;
    width: 100px;
    height: 20px;
    margin-top: 11px;
    margin-left: 7px;
}
/* 換頁icon */
.number{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* background-color: crimson; */
}
.pagination{
    /* background: chartreuse; */
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-left: 400px;
}
ul.pagination li a {
    border-radius: 5px;
}

ul.pagination li a.active {
    border-radius: 5px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 30px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/* 版頭換色文字效果 */

div.header ul li .new_btn >p{
    color:#FF9B2F;
    border-bottom: 3px solid #FF9B2F;
}

div.header ul li .new_btn {
    color:#FF9B2F;
}
