main{
    /* width: 1000px; */
    margin: 0 auto;
    /* border: blue 1px solid; */
}

/* 搜尋欄 */

.search{
    margin: 0 auto;
    display: flex;
    height: 30px;
    /* border: 1px solid red; */
    flex-direction: row;
    width:400px ;
    margin-left: 60px;
    margin-top: 20px;
}

.country{
    width: 150px;
    margin-left: 10px;
}
.country_1{
    width: 150px;
}
.country_1,.country{
    align-items: center;
    justify-content: center;
    /* width: 200px; */
    height: 30px;
    /* appearance: none; */
    outline: none;
    border: 1.5px solid#3DBFAC;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

}


/* 右邊浮動 */

div.right_sidebar {
    width: 100%;
 } 

div.right_sidebar .float{  
    z-index: 5;
    width:90px;
    float: right;
    position: fixed;
    right: 0px;/*右邊*/
    top:106px;
}
/* banner */

.news_banner{

    height: 320px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 20px;
}

.news_banner img{
    border-radius: 50px;
    width: 1000px;
    margin: -25px -112px;
    
}

/* 新聞1 */
div.grid_container{
    background-color: #eaecf2;
    /* border: 1px solid red; */
    width: 1000px;
    height:350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 600px auto;
    gap: 0px;
    margin-top: 25px;
    border-radius: 15px 15px 15px 15px;
  }
div.grid_item1{
    /* border: 1px solid blue; */
    width: 350px;
    height: 120px;
    border-radius: 15px 15px 15px 15px;
  }
.news_photo {
    width: 520px;
    height: 350px;
    border-radius: 15px 0px 0px 15px;
}
.grid_item2{
    height: 150px;
    margin: auto;
    margin-left: -20px;
    letter-spacing: 2px;
    
}

div.grid_item2 h4{
    font-size: 16px;
    display: inline-block;
    border:1.5px solid #FF9B2F;
    background-color: rgb(255, 255, 255);
    color: #FF9B2f;
    border-radius: 3px;
    padding: 1px 8px;
    border-radius: 5px;
    line-height: 24px;
    }

/* 新聞2 */

img{ 
    width: 100%;
   
} 

div.news h2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.news h2 img {
    width: 27px;
    margin-left: 5px;
    margin-right: 5px;
}

.news .wrap {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: center;
}

.news .item ,.item_3{
    margin: 0 10px;
    background-color:rgb(255, 251, 246);
    margin-top:20px;
    width: 480px;
}

.news img {
    width: 320px;
    /* height: 320px; */
}

.item h3 , .item_3 h3{
    border-bottom:solid 2px #eccb0f;
    margin:4% auto;
    border-bottom-width:2px;
    width: 90%;
    font-size:1rem;
    margin-top:0px;
}

.item  > p{
    width: 90%;
    margin-left: 17px;
    display: initial;
}

.item_3  > p{
    width: 90%;
    margin-left: 17px;
    display: initial;
}

.item p {
    line-height:303%;
}

.item_3 p{
    line-height:303%;
}

/* 新聞滑過 */
.news .item h3:hover {
    color: #9ECE0C;
  }
  .news .item_3 h3:hover {
    color: #9ECE0C;
  }

  div.color{
    width: 320px;
    height: 250px;
    background-color:#d6ff4157;
    position: absolute;
    transition: box-shadow 1s;
    cursor:pointer;
    opacity:0;
    }
.color:hover{
    opacity: 1;
}
.item {
    position: relative;
    overflow: hidden; 
}
.item h3{
    position: relative;
    overflow: hidden; 
}
/* butten */
.butten{
    margin: 10px 0px;
}
.all{
    display: flex;
    text-decoration:none;
}

.all :hover{
    color:#FF9B2F ;
}
.butten {
  position: relative; 
  outline: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 30px;
  width: 30px;
  opacity: 1;
  background-color:#ffffff;
  border: 1px solid #707070;
} 
.butten:hover{
    border: 1px solid #FF9B2F;
}
.butten a{
    font-size: 1.2rem;
    color: #707070;
    font-size: x-large;
    text-decoration:none;
}

.more{
    display: flex;
    width: 100px;
    height: 20px;
    margin-top: 14px;
    margin-left: 7px;
}
/* 換頁icon */
.number{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* background-color: crimson; */
}
.pagination{
    /* background: chartreuse; */
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-left: 400px;
}
ul.pagination li a {
    border-radius: 5px;
}

ul.pagination li a.active {
    border-radius: 5px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 30px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}





/* 版頭換色文字效果 */


.nav li .new_btn  {
    color:#FF9B2F;
}

.nav li .new_btn >p {
    color:#FF9B2F;
    /* border-bottom: 3px solid #FF9B2F; */
}

/* h2 */

@keyframes typing {
    from { width: 0 }
  }
  
  h2 {
    width: 18em;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(18)
  }

/* header */
@media all and (min-width: 992px ) and (max-width: 3000px){
    div.header{
        width: 500px;
        height: 30px;
        background-color: darkgrey;
    }
    .header nav > .icon{
        display: none;
    }

    body{
        min-width: 960px;
    }
    .header_md{
        display: none;
    }
    .header_md img{
        display: none;
    }

}



@media all and (min-width: 768px ) and (max-width: 991px){

    body{
        min-width: 720px;
        /* border: orange 1px solid; */
    }
    div.icon{
        display: none;
    }
    .header_md{
        display: none;
    }
    .header_md img{
        display: none;
    }

    .news .wrap {
        max-width: 88%;
    }


}

@media all and (min-width: 500px ) and (max-width: 767px){
    
    body{
        min-width: 500px;
        /* border: blue 2px solid; */
    }

    button.hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    header{
        display: none;
    }

    div.right_sidebar .float{  
       display: none;
    }

    .footer_logo{
        margin-left:9%;
        margin-top: 3%;
    }
    
    /* ul.right{
        list-style: none;
        font-weight: bold;
        padding: 10px;
        margin-left:160px;
        margin-top: -119px;
    } */

    .footer_logo {
        width: 105px;
    }
    
}
h3 {
    margin-top: 10px;
    margin-left: 4px;
}