main{
    max-width: 1000px;
    margin: 0 auto;
    
}


body {
    min-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
    /* border: orangered 1px solid; */
}

/* 搜尋欄 */

.search{
    display: flex;
    height: 30px;
    /* border: 1px solid red; */
    flex-direction: row;
    width:400px ;
    justify-content: center;
    margin-top: 20px;
}

.country{
    width: 150px;
    margin-left: 10px;
}
.country_1{
    width: 150px;
}
.country_1,.country{
    align-items: center;
    justify-content: center;
    /* width: 200px; */
    height: 30px;
    /* appearance: none; */
    outline: none;
    border: 1.5px solid#3DBFAC;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

}


/* 右邊浮動 */

div.right_sidebar {
    width: 100%;
 } 

div.right_sidebar .float{  
    z-index: 5;
    width:90px;
    float: right;
    position: fixed;
    right: 0px;/*右邊*/
    top:106px;
}


/* 返回icon */
.back_1{
    /* border:1px solid red; */
    /* height: 30px; */
    width: 990px;
    margin-top:15px;
    list-style: none;
}

.back img{
    width: 38px;
}


/* 內文 */
.main_content{
    /* border: 1px solid red; */
  
    margin: 0 auto;
}
.day{
   
    height: 30px;
    width: 200px;
}
.title{
    /* border: 1px solid red; */
    margin-top: 15px;
}
.grid_ite{
    width: 176px;
    /* border: 1px solid blue; */
    display: flex;
    padding: 12px 22px 3px 0px;
    
}

.grid_ite h4{
    margin-top: -4px;
    margin-left: 5px;
    line-height: 25px;
}


/* banner */

.news_banner{

    height: 320px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 20px;
}

.news_banner img{
    border-radius: 50px;
    width: 1000px;
    margin: -163px 0px;
    
}

/* 內文 */
.title{
    line-height: 30px;
}
.page{
    display: flex;
    height: 750px;
    padding: 15px;
    background-color: cadetblue;
    flex-wrap: wrap;
    
}
.main > p{
    text-indent:25px;
}
.img_news{
     /* border: 1px solid red; */
     /* width: 1000px; */
     height:300px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 500px auto;
     gap: 20px;
     margin-top: 25px;
     border-radius: 15px 15px 15px 15px;

}
.img,.img_02{
    width: 100%;
    /* border: 1px solid rgb(66, 37, 230); */
    height: 300px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
}

.news_photo{
    width: 570px;

}

/* 版頭換色文字效果 */

div.header ul li .news_1btn >p{
    color:#FF9B2F;
    border-bottom: 3px solid #FF9B2F;
}

div.header ul li .news_1btn {
    color:#FF9B2F;
}


/* h2 */

  h2 {
    width: 18em;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(18)
  }

/* header */
@media all and (min-width: 992px ) and (max-width: 3000px){

    div.header{
        width: 500px;
        height: 30px;
        background-color: darkgrey;
    }
    .header nav > .icon{
        display: none;
    }

    body{
        min-width: 960px;
    }

    .header_md{
        display: none;
    }
    .header_md img{
        display: none;
    }

}



@media all and (min-width: 768px ) and (max-width: 991px){

    body{
        min-width: 720px;
        /* border: orange 1px solid; */
    }
    div.icon{
        display: none;
    }
    .header_md{
        display: none;
    }
    .header_md img{
        display: none;
    }
    .news_banner {
        height: 355px;
        max-width: 700px;
    }

    main{
        max-width: 700px;
    }

    .img_news{
        grid-template-columns: 344px auto;
    }

    .news_photo {
        width: 392px;
    }

}

@media all and (min-width: 500px ) and (max-width: 767px){
    
    body{
        min-width: 500px;
        border: blue 2px solid;
    }

    .main{
        max-width: 600px;
    }

    .news_banner {
        height: 300px;
        max-width: 600px;
    }

    .news_banner img{
        margin: -185px -97px;
    }

    .img_news{
        grid-template-columns: 300px auto;
    }

    .news_photo {
        width: 380px;
        margin-left: -40px;
        height: 300px;
    }
    button.hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    header{
        display: none;
    }

    div.right_sidebar .float{  
       display: none;
    }

    .footer_logo{
        margin-left:9%;
        margin-top: 3%;
    }
    ul.right{
        list-style: none;
        font-weight: bold;
        padding: 10px;
        margin-left:160px;
        margin-top: -119px;
    }

    .footer_logo {
        width: 105px;
    }
    
  
}

@media all and (max-width:575px) {

    .main{
        max-width: 420px;
    }

    .news_banner {
        height: 300px;
        width: 450px;
    }

    .news_banner img{
        margin: -185px -226px;
    }

    .img_news {
        grid-template-columns: 200px auto;
        height: 70%;
    }

    .img , .img_02{
        height: 200px;
    }

    .img img{
        
        margin-left: -119px;
    }
}

h3 {
    margin-top: 10px;
    margin-left: 4px;
}