html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    margin: 0;
  }

/* rwd */

@media all and (min-width: 992px ) and (max-width: 3000px){

    .remind {
        width: 100%;
        background-color: #EAECF2;
        margin-top: 4%;
        margin-left: -3%;
    }

    div.place_img2{
        display: none;
    }
    div.color{
        width: 318px;
    }
    
}

@media all and (min-width: 768px ) and (max-width: 991px){
    .round img {
        width: 22%;
    }

    .news .wrap {
        width: 122%;
        margin-left: -74px;
        align-items: end;
    }
    .news img  {
        margin-left: -8px;
    }
    .round img {
        margin-left: -42px;
    }
    article.card{
        width: 100%;
    }
    .remind{
        width: 120%;
        margin-left: -14%;
    }
    .outer_block img {
        display: none;
    }

    .outer_block{
        /* align-items: center; */
        justify-content: end;
        margin-left: 85px;
        width: 800px;
    }

    div.place_img2{
        height: 262px;
        top: 1461px;
        width: 8%;
        transform: scaleX(-1);
        margin-left: 727px;
    }
    .attractions{
        margin-left: -109px;
    }

    .marquee{
        width: 800px;
    }

    .attractions .text{
        margin-left: 84px;
    }
    .attractions {
        width: 500px;
        height: 280px;
    }
    .flex{
        margin-left: 416px;
    }
    div.mask {
        width: 350px;
    }
    .radius_list img{
        width: 350px;
        height: 300px;
    }
}

@media all and (min-width: 576px ) and (max-width: 767px){
    .round img {
        display: none;
    }
    .grid_item2{
        margin-left: -183px;
        line-height: 35px;
   }

   .item img{
    display: none;
    }

    div.place_img2{
        top: 1292px;
    }
   /* .star{
       display: none;
   } */
   .item p{
        margin-left: 29px;
   }
   .news .wrap{
       max-width: 88%;
       display: block;
   }
   .news .item{
        margin: 0 10px;
        background-color:rgb(255, 251, 246);
        margin-top:0px;   
    }

    /* 最新消息 */
    .news .item{
        margin:none;
        box-shadow: none;
        border-radius: none;
    }
    .news .wrap {
        background-color: rgb(255, 251, 246);
        height: 300px;
        max-width: 88%;
        display: block;
    }

    .item {
        position: relative;
        overflow: hidden;
    }

    div.color{
        display: none;
    }
    
    .outer_block img{
        display: none;
    }

    .news h2 img {
        width: 27px;
        margin-left: 5px;
        margin-right: 5px;
    }


     /* 遊園叮嚀 */

     .outer_block img{
        display: none;
    }

    .outer_block{
        display:block;
    }

    .owl-carousel{
        width: 86%;
    }
    
    .remind{
        height: 286px;
        /* width: 85%; */
    }

    .remind > ul{
        height: 24px;
    }
    .note{
        margin-top:0px;
    }

    ul h2 {
        margin-top: -12px;
        margin-left: -99px;
    }

    hr{
        display: none;
    }

    div.place_img2{
        display: none;
    }

    .radius_list{
        width: 38%;
        height: 184px;
    }
    div.mask{
        width: 220px;
        height: 184px;
    }
    .radius_list img{
        width: 100%;
        height: 184px;
    }
    .attractions .text{    
        width: 300px;
    }
    .mask h2{
        margin-left:-20px;
    }
    .attractions{
        width: 580px;
        height: 265px;
    }

   
}

@media all and (min-width: 575px ) and (max-width: 699px){
    .star h3 {
        margin-left: 65px;
    }

    .radius_list{
        width: 50%;
    }

    div.mask {
        width: 230px;
        height: 183px;
    }

    .attractions{
        width: 500px;
        height: 265px;
    }
}
@media all and (max-width:574px) {
    .round img {
        display: none;
    }
    .news{
        margin-top: 25%;
    }
    .item img{
        display: none;
    }
    
    /* 最新消息 */
    .news .item{
        margin:none;
        box-shadow: none;
        border-radius: none;
    }
    .news .wrap {
        background-color: rgb(255, 251, 246);
        height: 300px;
        max-width: 88%;
        display: block;
    }

    .item {
        position: relative;
        overflow: hidden;
    }

    div.color{
        display: none;
    }

    /* 遊園叮嚀 */

    .outer_block img{
        display: none;
    }

    .outer_block{
        display:block;
    }

    .owl-carousel{
        width: 86%;
    }
    
    .remind{
        height: 286px;
        /* width: 85%; */
    }

    .remind > ul{
        height: 24px;
    }
    .note{
        margin-top:0px;
    }

    ul h2 {
        margin-top: -12px;
        margin-left: -99px;
    }

    hr{
        display: none;
    }

    div.place_img2{
        display: none;
    }

    /* 景點介紹 */
    .radius_list{
        width: 38%;
        height: 184px;
    }
    div.mask{
        width: 191px;
        height: 184px;
    }
    .radius_list img{
        width: 100%;
        height: 184px;
    }
    .attractions .text{    
        width: 300px;
    }
    .mask h2{
        margin-left:-20px;
    }
    .attractions{
        width: 500px;
        height: 280px;
    }
    footer{
        height: 228px;
    }
    /* 版頭消失 -手機版*/
    div.nav ul {
        display: none;
    }
    header{
        display: none;
    }
    body{
        min-width: 500px;
        /* border: blue 2px solid; */
    }

    button.hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    header{
        display: none;
    }
    
}

@media all and (max-width:574px) {

    ul.right {
        list-style: none;
        font-weight: bold;
        padding: 10px;
        margin-left: 160px;
        margin-top: -119px;
    }

    /* 頁尾*/

        div.right_sidebar .float{  
        display: none;
        }
    
        .footer_logo{
            margin-left:9%;
            margin-top: 3%;
        }

        .footer_logo {
            width: 105px;
        }
        
    
        div.prompt {
            /* border: 1px solid orangered; */
            font-size: 0.3rem;
            width: 439px;
            height: 70px;
            margin-left: 5%;
        }
    

        footer {
            color: #707780;
            height: 226px;
            display: block;
        }

 }