/* 漢堡列css */

body{
    margin: 0;
}

nav{
    font-size: 1.1rem;
}

@media (max-width: 767px){
    button.btn_switch{
        display: inline-block;
    }
    
    nav.main_nav{
    /* border: 1px solid red; */
    background-color: rgba(201, 197, 197, 0.2);
    border-radius: 10px 10px 30px 30px;
}

}

@media (max-width: 767px){
    nav.main_nav{
        display: none; /*不會佔位不會消失*/
    }
}

nav.main_nav > ul.nav_list{
    /* border: 1px solid green; */
    list-style: none;
    margin: 0;
    padding: 0;          
}

nav.main_nav a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
}

@media (max-width:767px){
    nav.main_nav a{
        width: 100%;
        text-align: center;
        padding: 7px 0; /*內距*/
    }

}

nav.main_nav > ul.nav_list >li{
    /* border: 1px solid black; */
    display: inline-block;
    
}

@media (max-width:767px){
    nav.main_nav > ul.nav_list >li{
        display: block;
    }
}

@media (min-width:767px){
    nav.main_nav > ul.nav_list >li{
        display: block;
    }
    .hamburger{
        display: none;
    }
    nav.main_nav > ul.nav_list{
        display: none;
    }

}
/* rwd */

@media all and (min-width: 992px ) and (max-width: 3000px){

    .news_banner img {
            margin: -25px 0px;
    }

    .search{
        width: 1000px;
        margin-left: 10%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .grid_item2{
        line-height: 35px;
   }

}

@media all and (min-width: 768px ) and (max-width: 991px){

    .nav li{
        margin: -11px -16px 0px 40px;
    }

   .news_banner{
        max-width: 750px;
   }
   .search{
         margin-left: 95px;
   }
   
   div.grid_container{
        width: 750px;
        height: 300px;
   }

   .news_photo {
        max-height: 300px;
        max-width: 400px;
   }

   .news_banner img{
        margin: -9px -130px;
   }
   
   h2 {
        font-size: 1.2rem;
   }

   .grid_item2{
        margin-left: -183px;
        line-height: 35px;
   }

   .news .wrap{
       max-width: 88%;
   }
   .news .item{
        margin: 0 10px;
        background-color:rgb(255, 251, 246);
        margin-top:20px;   
    }

    div.color {
        width: 245px;
        height: 193px;
    }
    
    .news img{
        width: 245px;
        /* height: 320px; */  
    }
}

@media all and (min-width: 575px ) and (max-width: 767px){
    .news_banner{
        max-width: 600px;
    }

    div.grid_container {
        background-color: #eaecf2;
        /* border: 1px solid red; */
        width: 1000px;
        height: 285px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 600px auto;
        gap: 0px;
        margin-top: 25px;
        border-radius: 15px 15px 15px 15px;
    }

    .news_photo {
        width: 520px;
        height: 350px;
        border-radius: 15px 15px 15px 15px;
    }

    /* 新聞1 */
    div.grid_container{
        display: none;
    }

    /* 新聞1 */
    div.grid_container{
        background-color: #eaecf2;
        /* border: 1px solid red; */
        max-width: 600px;
        height:180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 600px auto;
        gap: 0px;
        margin-top: 25px;
        border-radius: 15px 15px 15px 15px;
     }

     .news_photo {
        width: 220px;
        height: 180px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .grid_item2 {
        margin-left: -350px;
        letter-spacing: 2px;
        /* line-height: 30px; */
     }

     h2 {
        font-size: 1.2rem;
     }

     .more{
        margin-top: 14px;
        margin-left: 7px;
     }

     .news .wrap {
         display: flex;
     }

     .div .item_3 ,.item_3 a,.item_3 img,.item_3 p,.item_3 h4,.item_3 h3{
         display: none;
     }

     .news img{
        width: 280px;
    }

    .news .item_3{
        display: none;
    }

    .news .item{
        width: 284px;
    }
    div.color {
        width: 280px;
        height: 218px;
    }

}
@media all and (max-width:574px) {
    .news_banner{
        max-width: 450px;
        margin-left: 15px;
    }
    div.grid_container {
        background-color: #eaecf2;
        /* border: 1px solid red; */
        width: 1000px;
        height: 350px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 600px auto;
        gap: 0px;
        margin-top: 25px;
        border-radius: 15px 15px 15px 15px;
    }

    .news_photo {
        width: 520px;
        height: 350px;
        border-radius: 15px 15px 15px 15px;
    }

    /* 新聞1 */
    div.grid_container{
        display: none;
    }

    /* 新聞1 */
    div.grid_container{
        background-color: #eaecf2;
        /* border: 1px solid red; */
        width: 455px;
        height:180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 600px auto;
        gap: 0px;
        margin-top: 14px;
        border-radius: 15px 15px 15px 15px;
     }

     .news_photo {
        width: 220px;
        height: 180px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .grid_item2 {
        margin-left: -364px;
        letter-spacing: 2px;
        line-height: 26px;
        width: 200px;
        margin-top: 9px;
     }

     h2 {
        font-size: 1rem;
        height: 26px;
        word-break: break-all;
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
     }

     .butten{
         display: none;
     }

     /* div.grid_item2 h4 {
         line-height: 16px;
     } */

     .more{
         display: none;
     }
     
     .more{
        display: flex;
        width: 100px;
        margin-top: 0px;
        margin-left: 1px;
     }

     .news2{
         display: none;
     }

     .news .wrap {
        display: unset;
    }

    .news .item {
        width: 480px;
        height: 196px;
    }

    .news img {
        width: 182px;
        margin-left: 30px;
    }
    div.color{
        display: none;
    }
    
    /* 版頭消失 -手機版*/
    div.nav ul {
        display: none;
    }
    header{
        display: none;
    }
    body{
        min-width: 500px;
        /* border: blue 2px solid; */
    }

    button.hamburger {
        display: flex;
        position: absolute;
        right: 10px;
        top: 14px;
    }
    header{
        display: none;
    }

}

@media all and (max-width:574px) {

    ul.right {
        list-style: none;
        font-weight: bold;
        padding: 10px;
        margin-left: 160px;
        margin-top: -119px;
    }

    /* 頁尾*/

        div.right_sidebar .float{  
        display: none;
        }
    
        .footer_logo{
            margin-left:9%;
            margin-top: 3%;
        }

        .footer_logo {
            width: 105px;
        }
        
    
        div.prompt {
            /* border: 1px solid orangered; */
            font-size: 0.3rem;
            width: 439px;
            height: 70px;
            margin-left: 5%;
        }
    

        footer {
            color: #707780;
            height: 226px;
            display: block;
        }

 }